body {
  margin: 0;
  padding: 0;
  background: #ffb3ec;
  font-family: 'Oswald', sans-serif;
  position:relative;
  padding-bottom: 60px;
}
.container{min-height: 100%;
  position: relative;
}
.content{padding-bottom: 120px}
 /* Navigation Bar from http://css-snippets.com/*/
.nav ul {
  list-style: none;
  background-color: #ff66d9;
  text-align: left;
  padding: 0;
  margin: 0;
  border-bottom: 4px solid white;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 4px solid #ffe6f9;
}
 
.nav a {
  text-decoration: none;
  color: #ffFFFF;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.footer{position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  background-color: #ff66d9;
  text-align: center;
  height: 100px;
  border-top:4px solid white;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .footer{position:absolute;
    bottom: 0px;
    width: 100%;
    height: 120px;
    top:930px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}